.button {
  box-sizing: border-box;
  padding: 8px 20px;
  color: @BaseWhite;
  background: #7859CF;
  border-radius: 4px;
  border: none;
  background-color: #7859CF;
  &:hover,
  &:focus {
    background-color: #9070EC;
  }
  &:active {
    background-color: #593CAC;
  }
  &:disabled {
    background-color: @BaseGray;
  }
}
