.main-header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  width: @mobile-width;
  margin: 0 auto;
}
@media (min-width: @tablet-width) {
  .main-header {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    width: @desktop-width;
    padding-left: 40px;
    padding-right: 40px;
  }
}
