.range-bar__scale {
  position: relative;
  width: 192px;
  height: 4px;
  margin-bottom: 3px;
  background-color: #9070EC;
}
.range-bar__scale::after {
  position: absolute;
  width: 223px;
  height: 2px;
  content: "";
}
