.range-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.range-input input {
  display: inline-block;
  box-sizing: border-box;
  width: 88px;
  padding: 8px 10px;
  border: 2px solid #9070EC;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.range-input input::-webkit-outer-spin-button,
.range-input input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
