/* GLOBAL */
/* здесь используйте глобальные переменные */
/* здесь используйте глобальные селекторы img, body, html и так далее*/
body {
  margin: 0;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "Monserrat";
  font-style: regular;
  font-weight: 400;
  src: url(../../fonts/Montserrat-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Monserrat";
  font-style: bold;
  font-weight: 700;
  src: url(../../fonts/Montserrat-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "Monserrat";
  font-style: regular;
  font-weight: 400;
  src: url(../../fonts/Montserrat-Regular.woff) format("woff");
}
@font-face {
  font-family: "Monserrat";
  font-style: bold;
  font-weight: 700;
  src: url(../../fonts/Montserrat-Bold.woff) format("woff");
}
/* BLOCKS */
.button {
  box-sizing: border-box;
  padding: 8px 20px;
  color: #FFFFFF;
  background: #7859CF;
  border-radius: 4px;
  border: none;
  background-color: #7859CF;
}
.button:hover,
.button:focus {
  background-color: #9070EC;
  color: #FFFFFF;
}
.button:active {
  background-color: #593CAC;
  color: #FFFFFF;
}
.button:disabled {
  background-color: #BDBDBD;
  color: #FFFFFF;
}
.button__light {
  background-color: #FFFFFF;
  color: #7859CF;
}
.button__light:disabled {
  background-color: #E2E2E2;
}
.filter-group {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none;
}
.filter-group__title {
  margin-bottom: 20px;
  padding-left: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.filter-group__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.filter-group__item {
  margin-bottom: 20px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-header {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .main-header {
    width: 1440px;
  }
}
.page {
  height: 100%;
}
.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: 'Montserrat', 'Arial', sans-serif;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}
.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header-navigation__icon-menu {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}
.header-navigation__icon-menu a,
.header-navigation__icon-menu button {
  padding: 10px;
}
.header-navigation__login::after {
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  background-image: url(../../img/user.svg);
}
.header-navigation__cart::after {
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  background-image: url(../../img/cart.svg);
}
.header-navigation__toggle {
  border: none;
  right: 0;
  position: absolute;
}
.header-navigation__toggle--close::after {
  position: relative;
  display: block;
  content: "";
  width: 16px;
  height: 1.5px;
  top: -3px;
  right: 0px;
  background: #000000;
  box-shadow: 0 4px 0 0 #000000, 0 9px 0 0 #000000;
}
.header-navigation__icon-menu .header-navigation__icon-link {
  display: inline-block;
  box-sizing: border-box;
  padding: 22px;
}
.header-navigation__icon-menu .header-navigation__toggle {
  padding: 29.5px 22px;
  background: none;
}
.header-navigation__toggle--open.header-navigation__toggle::after {
  position: relative;
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  box-shadow: none;
  background: url(../../img/close-button.svg) no-repeat center;
}
.header-navigation__toggle--open.header-navigation__toggle {
  padding: 24px 24px;
}
.header-navigation__list {
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 320px;
  height: min-content;
}
.header-navigation__list.header-navigation__list--open {
  display: block;
}
.header-navigation__item {
  text-align: center;
  background: #FFFFFF;
  border-top: 1px solid #BDBDBD;
}
.header-navigation__link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-navigation__icon-link:active {
  background-color: #F0EBFF;
}
.header-navigation__toggle:active {
  background-color: #F0EBFF;
}
.feature {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #7859CF;
}
.main-container {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-container {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .main-container {
    width: 1440px;
  }
}
.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}
.advantage__title {
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}
.advantage__list {
  list-style: none;
}
.advantage__item {
  position: relative;
  margin-bottom: 32px;
}
.advantage__item::before {
  display: block;
  margin: 0 auto;
  width: 48px;
  height: 54px;
  content: "";
}
.advantage__item--speed::before {
  background: url(../../img/advantage/speed.svg) no-repeat center;
}
.advantage__item--convenience::before {
  background: url(../../img/advantage/convenience.svg) no-repeat center;
}
.advantage__item--cheerfulness::before {
  background: url(../../img/advantage/cheerfulness.svg) no-repeat center;
}
.advantage__item--ecological::before {
  background: url(../../img/advantage/ecological.svg) no-repeat center;
}
.advantage__item-title {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}
.advantage__item-text {
  text-align: center;
}
.promo__image {
  display: block;
  margin-bottom: 10px;
}
.catalog {
  padding: 0 20px;
  padding-top: 50px;
  background-color: #F8F8F8;
}
.catalog__result {
  padding-bottom: 20px;
}
.catalog__feature {
  display: block;
  marging-bottom: 4px;
  text-align: center;
}
.catalog__title {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}
.catalog__button {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.catalog__filters {
  margin-bottom: 40px;
}
.catalog__sort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.catalog__sort span {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.catalog__select {
  text-align: center;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 24px;
  color: #7859CF;
  border: none;
  background-color: #F8F8F8;
}
.catalog__select:hover {
  background-color: #F0EBFF;
}
.catalog__select option {
  color: #333333;
}
.catalog__select option:hover {
  background-color: #F0EBFF;
}
.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.control {
  position: relative;
}
.control__mark {
  position: absolute;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 2px solid #BDBDBD;
  border-radius: 50%;
  background-color: #FFFFFF;
}
.control__input[type="checkbox"] + .control__mark {
  width: 42px;
  box-sizing: border-box;
  border: 2px solid #BDBDBD;
  border-radius: 12px 12px;
  background-color: #BDBDBD;
}
.control__mark::before {
  position: absolute;
  box-sizing: border-box;
  top: 2.5px;
  left: 2.5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  content: "";
}
.control__input[type="checkbox"] + .control__mark::before {
  top: 0px;
  left: 1px;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
}
.control__input[type="radio"]:checked + .control__mark {
  border-color: #9070EC;
}
.control__input[type="radio"]:checked + .control__mark::before {
  background-color: #9070EC;
}
.control__input[type="radio"]:hover + .control__mark {
  border-color: #9070EC;
}
.control__input[type="radio"]:hover + .control__mark::before {
  background-color: rgba(120, 89, 207, 0.25);
}
.control__input[type="radio"]:active + .control__mark::before {
  background-color: #9070EC;
}
.control__input[type="radio"]:disabled + .control__mark::before {
  background: none;
}
.control__input[type="radio"]:disabled + .control__mark {
  border-color: #E2E2E2;
  background: #F8F8F8;
}
.control__input[type="radio"]:disabled ~ .control__lable {
  color: #E2E2E2;
}
.control__lable {
  margin-left: 34px;
  font-size: 16px;
  line-height: 24px;
}
.control__input[type="checkbox"] ~ .control__lable {
  margin-left: 52px;
}
.control__input[type="checkbox"]:checked + .control__mark {
  border-color: #9070EC;
  background-color: #9070EC;
}
.control__input[type="checkbox"]:checked + .control__mark::before {
  left: 18.5px;
}
.control__input[type="checkbox"]:hover + .control__mark {
  box-sizing: border-box;
  background-color: rgba(120, 89, 207, 0.25);
  border-color: #9070EC;
}
.control__input[type="checkbox"]:disabled + .control__mark {
  border-color: #E2E2E2;
  background-color: #E2E2E2;
}
.control__input[type="checkbox"]:disabled + .control__mark::before {
  background-color: #F8F8F8;
}
.control__input[type="checkbox"]:disabled ~ .control__lable {
  color: #E2E2E2;
}
.range-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.range-input input {
  display: inline-block;
  box-sizing: border-box;
  width: 118px;
  padding: 8px 10px;
  border: 2px solid #9070EC;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.range-input input::placeholder {
  color: #BDBDBD;
}
.range-input input:hover {
  border-color: #7859CF;
}
.range-input input:focus {
  outline: none;
  border-color: #593CAC;
}
.range-input input::-webkit-outer-spin-button,
.range-input input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.range-input input:disabled {
  color: #BDBDBD;
}
.range-bar {
  position: relative;
}
.range-bar__scale::before {
  position: absolute;
  box-sizing: border-box;
  width: 242px;
  height: 4px;
  background-color: #9070EC;
  content: "";
  z-index: 1;
}
.range-bar__scale::after {
  position: absolute;
  left: 0;
  top: 1px;
  width: 280px;
  height: 2px;
  background-color: #BDBDBD;
  content: "";
  z-index: 0;
}
.range-bar__toggle {
  position: absolute;
  box-sizing: border-box;
  top: -12px;
  width: 24px;
  height: 24px;
  background-color: #FFFFFF;
  border: 2px solid #9070EC;
  border-radius: 50%;
  z-index: 2;
}
.range-bar__toggle:hover.range-bar__toggle::after {
  position: absolute;
  box-sizing: border-box;
  top: 2.5px;
  left: 2.5px;
  width: 16px;
  height: 16px;
  background-color: rgba(120, 89, 207, 0.25);
  border-radius: 50%;
  content: "";
}
.range-bar__toggle:active.range-bar__toggle::after {
  position: absolute;
  box-sizing: border-box;
  top: 2.5px;
  left: 2.5px;
  width: 16px;
  height: 16px;
  background-color: #7859CF;
  border-radius: 50%;
  content: "";
}
.range-bar__toggle--max {
  left: 236px;
}
.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}
.slider__feature {
  margin-bottom: 4px;
}
.slider__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}
.slider__description {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}
.slider__price-wrapper {
  margin-bottom: 10px;
}
.slider__old-price {
  font-size: 16px;
  line-height: 32px;
  color: #7859CF;
}
.slider__price {
  margin-right: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}
.card {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
}
.card__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}
.card__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}
.card__description {
  margin: 0;
  margin-bottom: 16px;
}
.card__price-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}
.card__button {
  position: relative;
  padding-left: 46px;
}
.card__button::before {
  position: absolute;
  left: 20px;
  margin-right: 6px;
  width: 20px;
  height: 16px;
  background: url(../../img/basket.svg) no-repeat center;
  content: "";
}
.pagination {
  padding-bottom: 44px;
}
.pagination__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagination__link {
  padding: 8px 16px;
  background: #FFFFFF;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #7859CF;
}
.pagination__link:hover {
  color: #FFFFFF;
  background-color: #9070EC;
}
.pagination__link:active {
  color: #FFFFFF;
  background-color: #7859CF;
}
.pagination__link:focus {
  color: #FFFFFF;
  background-color: #9070EC;
}
.pagination__link--active {
  background: none;
  color: #333333;
}
.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
}
.main-footer__item {
  position: relative;
  padding-top: 40px;
}
.main-footer__item::before {
  position: absolute;
  top: 10px;
  left: -20px;
  width: 320px;
  height: 1px;
  background-color: #F0EBFF;
  content: "";
}
.main-footer__list {
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
  list-style: none;
}
.main-footer__block-group {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.main-footer__title {
  margin: 0;
  padding-bottom: 20px;
  font-weight: 700;
  letter-spacing: 0.3px;
  color: #7859CF;
}
.main-footer__adress {
  position: relative;
  display: block;
  padding-left: 20px;
  padding-bottom: 16px;
}
.main-footer__adress::before {
  position: absolute;
  left: 0;
  top: 3px;
  width: 13px;
  height: 16px;
  background: url(../../img/marker.svg) no-repeat center;
  content: "";
}
.main-footer__phone {
  position: relative;
  display: block;
  padding-left: 20px;
  padding-bottom: 20px;
}
.main-footer__phone::before {
  position: absolute;
  top: 1px;
  left: 0;
  width: 13px;
  height: 16px;
  background: url(../../img/phone.svg) no-repeat center;
  content: "";
}
.main-footer__item-link {
  padding-bottom: 12px;
}
.main-footer__social-links {
  display: inline-block;
}
.main-footer__developer {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  border-top: 1px solid #F0EBFF;
}
@media (min-width: 768px) {
  .main-footer {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .main-footer {
    width: 1440px;
  }
}
.block-group__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-links__item {
  display: inline-block;
  box-sizing: border-box;
  padding: 9px;
  padding-bottom: 4px;
  margin-right: 20px;
  color: #BDBDBD;
}
.social-links__item:last-child {
  margin-right: 0;
}
.social-links__item:hover {
  color: #7859CF;
  background-color: #F0EBFF;
}
.social-links__item:active {
  color: #7859CF;
  background-color: rgba(120, 89, 207, 0.25);
}
.social-links__item:focus {
  color: #7859CF;
  background-color: #F0EBFF;
}
.link {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  color: #333333;
}
.link:hover,
.link:focus {
  color: #9070EC;
}
.link:active {
  color: #593CAC;
}
.link__developer {
  display: flex;
  color: #BDBDBD;
  text-transform: none;
  justify-content: center;
}
.link__developer span {
  margin-right: 4px;
}
.link__developer-logo {
  display: inline-block;
  line-height: 0;
}
.link__developer-logo:hover {
  color: #7859CF;
}
.link__developer-logo:active {
  color: #9070EC;
}
.link__developer-logo:focus {
  color: #7859CF;
}
.no-js.main-container {
  margin-top: 227px;
}
.no-js.header-navigation__list {
  display: block;
}
.swiper-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
}
.swiper-slide::after {
  position: absolute;
  top: 0;
  width: 320px;
  height: 656px;
  background-color: #F3EBE1;
  content: "";
  z-index: -1;
}
.swiper-slide--lavender::after {
  background-color: #EAE6FC;
}
.swiper-slide--expresso::after {
  background-color: #E5E6E8;
}
.swiper-slide image {
  display: block;
  margin-bottom: 10px;
}
