@font-face {
  font-family: "Monserrat";
  font-style: regular;
  font-weight: 400;
  src: url(../../fonts/Montserrat-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Monserrat";
  font-style: bold;
  font-weight: 700;
  src: url(../../fonts/Montserrat-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "Monserrat";
  font-style: regular;
  font-weight: 400;
  src: url(../../fonts/Montserrat-Regular.woff) format("woff");
}
@font-face {
  font-family: "Monserrat";
  font-style: bold;
  font-weight: 700;
  src: url(../../fonts/Montserrat-Bold.woff) format("woff");
}
